:root {
	font-size: 16px;

	--default-white: #fff;
	--dark-white: #FFFEF8;
	--darker-white: #E8F1F6;
	--default-black: #000;
	--default-brown: #B1663C;
	--default-green: #1D6154;
	--dark-green: #0E2F28;
	--default-blue: #306685;
	--default-gray: #A7A7A7;
	--light-gray: #CBD6DC;

	--smaller-gap: 4px;
	--small-gap: 8px;
	--gap: 16px;
	--big-gap: 32px;

	--small-radius: 10px;
	--big-radius: 50px;

	--border-green: solid 1px var(--default-green);
	--border-gray: solid 1px var(--default-gray);

	--default-font: 'Work Sans';
	--special-font: 'Syne';

	--light-font: 400;
	--bold-font: 700;
	--bolder-font: 800;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

a,
button,
input[type="submit"] {
	text-decoration: none;
	color: inherit;
	border: none;
	background: none;
	cursor: pointer;
}

/** end reset css**/

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
	padding: var(--small-gap);
}

.h2-and-modify a:hover,
a:hover,
a:hover>* {
	color: var(--default-brown);
	fill: var(--default-brown);
}

input[type="submit"] {
	font-size: 0.875em;
	font-family: var(--special-font);
	font-weight: var(--bold-font);
	color: var(--default-white);
	margin: var(--big-gap) auto;
	text-align: center;
	border-radius: var(--big-radius);
	padding: var(--small-gap) var(--big-gap);
	min-width: 180px;
}

body {
	background: var(--dark-white);
	font-family: 'Work Sans';
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

section {
	margin: var(--big-gap) auto;
}

/* Header */

header,
main {
	max-width: 1140px;
	width: 90%;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: var(--gap) auto;
}

header>nav>ul {
	display: flex;
	font-size: 1.2em;
	gap: var(--gap);
}

.logo-insta>a {
	display: grid;
	place-items: center;
}

/* Footer */

footer {
	background-color: var(--default-white);
	text-align: end;
	margin-top: var(--big-gap);
	padding: var(--big-gap);
}

footer>nav {
	max-width: 1140px;
	width: 90%;
	margin: auto;
}

/* Logo Name */

h1 {
	font-size: 1.375em;
}

h1>a {
	display: grid;
	font-family: var(--special-font);
	font-weight: var(--bolder-font);
	color: var(--default-brown);
}

h1>a>span {
	font-family: var(--default-font);
	font-size: 0.5em;
	letter-spacing: 0.1em;
}


/* Section Titles */
h2 {
	font-family: var(--special-font);
	font-weight: var(--bold-font);
	font-size: 1.875em;
	color: var(--default-green);
}

/* Introduction Section */

#introduction {
	display: flex;
	align-items: center;
}

#introduction>* {
	flex: 1;
}

#introduction>figure>img {
	margin-right: auto;
	width: 90%;
	height: 440px;
	object-fit: cover;
}

#introduction>article * {
	margin: 1em 0;
}

/* Portfolio Section */

#portfolio .filters-container {
	text-align: center;
	margin-bottom: var(--big-gap);
}

#portfolio .filters-container>* {
	color: var(--default-green);
	margin: 4px;
	padding: var(--small-gap) var(--gap);
	min-width: 100px;
	border: var(--border-green);
	border-radius: var(--big-radius);
	font-family: var(--special-font);
	font-size: 1em;
	transition: 0.25s;
}

#portfolio .filters-container button:hover {
	transform: scale(1.05);
}

#portfolio .filter-active {
	background: var(--default-green);
	color: var(--dark-white);
}

#portfolio .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: var(--gap);
}

#portfolio .gallery img {
	height: 500px;
	width: 100%;
	object-fit: cover;
}

/* Contact Section & Login Page */

#contact,
#login-page-main {
	max-width: 500px;
}

#contact>h2,
#contact>p,
#login-page-main>h2,
#login-page-main>p {
	text-align: center;
}

#contact form,
#login-page-main form {
	display: grid;
	margin-top: var(--gap);
}

#contact input[type="email"],
#contact input[type="text"],
#login-page-main input[type="email"],
#login-page-main input[type="password"],
#contact textarea,
#login-page-main textarea {
	min-height: 34px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}



#contact label,
#login-page-main label {
	margin-top: var(--big-gap);
	margin-bottom: var(--gap);
}

#mail-send-button,
#connect-button,
#add-picture {
	background-color: var(--default-green);
}

#add-picture:hover,
#mail-send-button:hover,
#connect-button:hover,
.validated-button:hover {
	background: var(--dark-green);
}

/* Log-in Page */
#login-page-main {
	flex-grow: 1;
}

#login-page-main h2 {
	margin-bottom: var(--big-gap);
}

.underline {
	text-decoration: underline;
}


/* Editor Mode */

.editor-header {
	padding: var(--gap);
	background: var(--default-black);
	color: var(--default-white);
	fill: var(--default-white);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--small-gap);
}

.project-modify-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--gap);
	gap: var(--gap);
}

/* modal */

dialog {
	width: 80%;
	max-width: 575px;
	margin: auto;
	text-align: center;
	border-radius: var(--small-radius);
	padding: var(--big-gap);
}

.closing-modal-button-container {
	text-align: end;
}

.adding-modal-button-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

dialog>p {
	font-size: 1.375em;
	margin-bottom: var(--big-gap);
}

.modal-grid {
	display: grid;
	margin: auto;
	grid-template-columns: repeat(5, 1fr);
	max-width: 420px;
	column-gap: var(--smaller-gap);
	row-gap: var(--gap);
}

.modal-add-form {
	margin: auto;
	width: clamp(240px, 420px, 75%);
}

.picture-input-container {
	background-color: var(--darker-white);
	display: grid;
	place-items: center;
	height: 175px;
	position: relative;
}

#preview-image {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
}

.text-input-container {
	display: grid;
	text-align: start;
	row-gap: var(--small-gap);
	margin: var(--big-gap) 0 calc(var(--big-gap) * 1.5);
}

.text-input {
	background: var(--default-white);
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}

.add-picture-button {
	position: relative;
	border-radius: var(--big-radius);
	background: var(--light-gray);
	color: var(--default-blue);
	padding: var(--small-gap) var(--big-gap);
	margin: var(--small-gap);
}

/* Hide the "add a file" default button */
::file-selector-button {
	display: none;
}

/* Hide the Text to allow the cursor pointer on mozzilla */
input[type="file"] {
	position: absolute;
	font-size: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius: inherit;
}

input.validating-button {
	width: 240px;
	background-color: var(--default-gray);
	cursor: default;
}

input.validated-button {
	background-color: var(--default-green);
	cursor: pointer;
}

.modal-img-container {
	position: relative;
	width: clamp(10px, 79.2px, 15dvw);
	max-height: 100px;
}

.modal-img-container>img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.modal-img-container>button>svg {
	position: absolute;
	top: var(--smaller-gap);
	right: var(--smaller-gap);
	padding: var(--smaller-gap);
	background-color: var(--default-black);
	border-radius: 4px;
}

hr {
	margin: auto;
	margin-top: var(--big-gap);
	max-width: 420px;
	border: var(--border-gray);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.3);
}

/* Modifier */
.h2-and-modify {
	position: relative;
}

.h2-and-modify>a {
	position: absolute;
	top: 50%;
	left: calc(100% + 30px);
	transform: translate(0%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--small-gap);
	color: var(--default-black);
	font-family: var(--default-font);
	font-size: 14px;
	font-weight: var(--light-font);
}

#pop {
	display: flex;
	text-align: initial;
	margin: auto;
	justify-content: space-between;
}

#pop .pop-infos,
#pop .pop-text {
	border: var(--border-green);
	border-radius: var(--small-radius);
	width: 38%;
	padding: var(--gap);
	word-wrap: break-word;
}

.pop-infos p:first-child {
	padding-bottom: var(--gap);
}

/* Utils*/
.bold {
	font-weight: var(--bold-font);
}

.hide {
	display: none;
}

@media only screen and (width <=580px) {

	header ul {
		gap: var(--big-gap);
		margin-left: var(--big-gap);
	}

	header li:first-child,
	li:nth-child(2) {
		display: none;
	}
}

@media only screen and (width <=675px) {

	:root {
		--gap: 8px;
		--big-gap: 16px;
	}

	#introduction {
		flex-direction: column;
	}

	#introduction>figure>img {
		width: 100%;
		height: initial;
	}

	#introduction>article>h2 {
		text-align: center;
	}

	#h2-and-modify>a {
		position: initial;
		transform: initial;
	}

	.filters-container {
		display: grid;
		place-content: center;
		grid-template-columns: repeat(auto-fill, minmax(220px, 0.5fr));
	}
}